.json-result{
    width:30%;
    height:100%;
    background-color: var(--secondary-color);
    border-left: 1px solid var(--border-primary-color);
    overflow-y: hidden;

    &__header{
        height:51px;
        background-color: var(--tertiary-color);
        padding:7.5px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-primary-color);

        button{
            height:100%;
            width: 150px;
            margin-left:10px;
        }

        &-repeat-container{
            display: flex;
            align-items: center;
            gap:10px;

            h1{
                font-size:15px;
            }

            input{
                width:45px;
                height:70%;
            }
        }
    }

    &__body{
        overflow: auto;
        max-height: calc(100% - 50px);

        pre{
            color:white;
            margin:0px;
            padding:10px;
        }
    }
}