:root{
    --primary-color: rgba(30,30,50);
    --secondary-color: rgba(25,25,45);
    --tertiary-color: rgba(20,20,40);

    --border-primary-color:rgba(220,220,220,0.1);
    --border-focus-color:rgba(230,230,230,0.2);

    background-color: var(--primary-color);
}

html, body, #root{
    height: 100%;
    margin: 0px;
}