:root{
    --primary-color: rgba(30,30,50);
    --secondary-color: rgba(25,25,45);
    --tertiary-color: rgba(20,20,40);

    --border-primary-color:rgba(220,220,220,0.1);
    --border-focus-color:rgba(230,230,230,0.2);

    background-color: var(--primary-color);
}

html, body, #root{
    height: 100%;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

p, h1, button, input, select, label{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1{
    font-size: 15px;
}

button{
    cursor: pointer;
    background-color: var(--tertiary-color);
    border:1px solid var(--border-primary-color);
    border-radius: 5px;
    outline: none;

    &:hover{
        background-color: var(--secondary-color);
    }
}

input{
    padding-left:10px;
    outline: none;
    padding-top:0px;
    padding-bottom:0px;
    background-color: var(--primary-color);
    border:1px solid var(--border-primary-color);
    border-radius: 5px;

    &:focus{
        background-color: var(--tertiary-color);
        box-shadow: 0px 0px 5px 2px var(--secondary-color);
    }
}

input[type="checkbox"] {
    accent-color: var(--tertiary-color);
    background-color: yellow;
    cursor: pointer;
    width: 35px;

    &:hover{
        accent-color: rgb(50,50,80)
    }
}

select{
    padding-left:10px;
    outline: none;
    background-color: var(--primary-color);
    border:1px solid var(--border-primary-color);
    border-radius: 5px;

    &:focus{
        background-color: var(--tertiary-color);
        border:2px solid var(--border-focus-color);
    }
}